.super-container {
  font-family: sans-serif;
  text-align: center;
  overflow-x: hidden;
}
.carousel-container {
  position: relative;
  transition: all 3s ease-in-out;
  padding: 20px 0px;
}
.carousel-slides-container {
  display: flex;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.btn-nav {
  background-color: #ffa233;
  color: #fff;
  outline: none;
}
.carousel-slide {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all .5s ease-in-out;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  min-width: 215px;
  margin: 0px 20px;
}
.carousel-slide.active {
  background-color: #444444;
  border-color: #f3f3f3;
}